body {
background-color: midnightblue;

}
.container {
    display:flex;
    justify-content: center;
    padding-bottom: 10px;

}

.img {
    background-image: url("../Image/golfball.png");
    background-repeat: no-repeat;
    display: block;
    align-items: center;
    margin: auto;
    width:1000px;
    height:550px;
    border-radius: 10px;
    background-repeat: no-repeat;
    z-index: -1;
    margin-bottom: 50px;

}

.banner-text {
    font-size: 45px;
    text-align: center;
    padding:45px;
    height: 75px;
    color:black;
    margin-top: 10px;
}

h6 {
    font-size: 20px;
    text-align: center;
    color: white;
}

#teeselect {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-top: 30px;

}

#courseselect{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-top: 30px;

}

.btn-group-sm{
    font-size: 15px;
}

.text{
    text-align: center;
    font-size:small;
    margin:5px 0px 0px 1px;
    color:#ff6600;
}


.playercolumn {
    border: 1px solid #CCC;
    width:75px;
    display: inline-flex;
    flex-direction: column;
    height: 100px;
    float: left;
    color: white;
}

.scorecolumn {
    border: 1px solid #CCC;
    flex-direction: row;
    display: flex;
    width: 100%;
    text-align: center;
}

.card {
    border:1px solid #CCC;
    display: flex;
    align-items: center;
    margin: auto;
    width:1000px;
}

.column {
    width:25px;
}

.glyphicon-remove-circle {
    color:red;
    float: right;
}




